# ─── EXTRUDER ───────────────────────────────────────
[autotune_tmc extruder]
motor: creality-42-40        # Motor stock Ender 3 extrusor
tuning_goal: silent          # Silencioso para extrusor, siempre mejor
toff: 1
tbl: 2
extra_hysteresis: 0
sg4_thrs: 10                 # CoolStep threshold (TMC2209)
voltage: 24

# ─── X ──────────────────────────────────────────────
[autotune_tmc stepper_x]
motor: creality-42-34        # Motor stock ejes X/Y Ender 3
tuning_goal: performance
toff: 1
tbl: 2
extra_hysteresis: 0
sg4_thrs: 0
voltage: 24

# ─── Y ──────────────────────────────────────────────
[autotune_tmc stepper_y]
motor: creality-42-34
tuning_goal: performance
toff: 1
tbl: 2
extra_hysteresis: 0
sg4_thrs: 0
voltage: 24

# ─── Z ──────────────────────────────────────────────
[autotune_tmc stepper_z]
motor: creality-42-34
tuning_goal: silent          # Z siempre silencioso
toff: 1
tbl: 2
extra_hysteresis: 0
sg4_thrs: 0
voltage: 24

# ─── Z1 (segundo motor Z si tienes dual Z) ──────────
[autotune_tmc stepper_z1]
motor: creality-42-34
tuning_goal: silent
toff: 1
tbl: 2
extra_hysteresis: 0
sg4_thrs: 0
voltage: 24