#####################################################################
# Archivo Maestro de Macros - Limpio y sin errores de ruta
#####################################################################

[include mainsail.cfg]
[include macros/timelapse.cfg]
[include macros/calibracion.cfg]
[include macros/compatibilidad.cfg]
[include macros/enfriar*.cfg]
[include macros/filament.cfg]
[include macros/motors.cfg]
[include macros/precalentamiento.cfg]
[include macros/print_start_end.cfg]