[gcode_macro ALINEAR_DUAL_Z]
description: Realiza el home de los ejes y calibra el Z-Tilt
gcode:
    # Si la impresora no tiene el Home hecho, lo hace primero
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
    
    # Lanza la calibración del doble motor Z
    Z_TILT_ADJUST
    
    # Vuelve a hacer Home del eje Z porque al corregir la inclinación 
    # la altura del Z0 original varía ligeramente
    G28 Z