[gcode_macro BED_LEVEL]
description: 📐 Calibración manual con papel (4 esquinas + centro)
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}
    M117 Calibrando cama...
    BED_SCREWS_ADJUST

[gcode_macro SCREWS_TILT]
description: 🔩 Medir desviación de tornillos y cuánto girar cada uno
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}
    M117 Midiendo inclinación...
    SCREWS_TILT_CALCULATE

[gcode_macro FULL_BED_LEVEL_PRO]
description: 🔥 Precalentar + home + medir tornillos con BLTouch | Uso: FULL_BED_LEVEL_PRO BED=60 EXTRUDER=150
gcode:
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(160)|float %}

    M117 Calentando para calibrar...
    M140 S{BED_TEMP}
    M104 S{EXTRUDER_TEMP}
    
    M190 S{BED_TEMP}
    M109 S{EXTRUDER_TEMP}

    G28

    M117 Midiendo tornillos (Cama:{BED_TEMP} - Hotend:{EXTRUDER_TEMP})
    SCREWS_TILT_CALCULATE


# [gcode_macro MOVE_TO_CORNER]
# description: 🎯 Mover a esquina | Uso: MOVE_TO_CORNER CORNER=FL/FR/BL/BR/CENTER
# gcode:
#     {% set CORNER = params.CORNER|default("CENTER")|upper %}
#     {% if printer.toolhead.homed_axes != "xyz" %}
#         G28
#     {% endif %}
#     G1 Z10 F600
#     {% if CORNER == "FL" %}
#         G1 X30 Y30 F3000
#         M117 Esquina: Delante Izquierda
#     {% elif CORNER == "FR" %}
#         G1 X190 Y30 F3000
#         M117 Esquina: Delante Derecha
#     {% elif CORNER == "BL" %}
#         G1 X30 Y205 F3000
#         M117 Esquina: Detrás Izquierda
#     {% elif CORNER == "BR" %}
#         G1 X190 Y205 F3000
#         M117 Esquina: Detrás Derecha
#     {% elif CORNER == "CENTER" %}
#         G1 X117 Y117 F3000
#         M117 Centro de cama
#     {% endif %}
#     G1 Z0.2 F300

[gcode_macro MOVE_TO_CORNER]
description: 🎯 Mover a esquina | Uso: MOVE_TO_CORNER CORNER=FL/FR/BL/BR/CENTER
gcode:
    {% set CORNER = params.CORNER|default("CENTER")|upper %}
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}
    G1 Z10 F600
    {% if CORNER == "FL" %}
        G1 X15 Y15 F3000
        M117 Esquina: Delante Izquierda
    {% elif CORNER == "FR" %}
        G1 X220 Y15 F3000
        M117 Esquina: Delante Derecha
    {% elif CORNER == "BL" %}
        G1 X15 Y205 F3000
        M117 Esquina: Detras Izquierda
    {% elif CORNER == "BR" %}
        G1 X220 Y205 F3000
        M117 Esquina: Detras Derecha
    {% elif CORNER == "CENTER" %}
        G1 X117 Y110 F3000
        M117 Centro de cama
    {% endif %}
    G1 Z0.2 F300



