# =========================================================
# PAUSE / RESUME / CANCEL_PRINT
# Necesarias para que Mainsail/Fluidd controlen pausa, reanudado
# y cancelado con aparcado de boquilla y retraccion.
# =========================================================

[gcode_macro CANCEL_PRINT]
description: Cancela la impresion en curso
rename_existing: CANCEL_PRINT_BASE
gcode:
    {% set th = printer.toolhead %}
    {% set x_park = th.axis_maximum.x|float - 10.0 %}
    {% set y_park = th.axis_maximum.y|float - 10.0 %}
    {% set z_park_delta = 2.0 %}
    {% set max_z = th.axis_maximum.z|float %}
    {% set act_z = th.position.z|float %}
    {% if act_z < (max_z - z_park_delta) %}
        {% set z_safe = z_park_delta %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    SAVE_GCODE_STATE NAME=CANCEL_PRINT_state
    G91
    G1 E-2 F2700
    G1 Z{z_safe}
    G90
    G1 X{x_park} Y{y_park} F6000
    TURN_OFF_HEATERS
    M106 S0
    CANCEL_PRINT_BASE

[gcode_macro PAUSE]
description: Pausa la impresion en curso
rename_existing: PAUSE_BASE
gcode:
    PAUSE_BASE
    {% set th = printer.toolhead %}
    {% set x_park = th.axis_maximum.x|float - 10.0 %}
    {% set y_park = th.axis_maximum.y|float - 10.0 %}
    {% set z_park_delta = 2.0 %}
    {% set max_z = th.axis_maximum.z|float %}
    {% set act_z = th.position.z|float %}
    {% if act_z < (max_z - z_park_delta) %}
        {% set z_safe = z_park_delta %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    SAVE_GCODE_STATE NAME=PAUSE_state
    G91
    G1 E-2 F2700
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000

[gcode_macro RESUME]
description: Reanuda la impresion pausada
rename_existing: RESUME_BASE
gcode:
    {% if printer.extruder.can_extrude|lower == 'true' %}
        G91
        G1 E2 F2700
        G90
    {% else %}
        {action_respond_info("Extruder not hot enough")}
    {% endif %}
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1 MOVE_SPEED=100
    RESUME_BASE
