
[gcode_macro START_PRINT_PRO]
description: Inicio de impresión automático
gcode:
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(200)|float %}

  M117 Calentando cama...
    M140 S{BED_TEMP}
    M104 S150               # Temperatura de espera para que no gotee
    G28
    M190 S{BED_TEMP}        # Esperar a la cama (crucial para la dilatación)
    
    M117 Creando malla...
    BED_MESH_CALIBRATE      # El extrusor a 150 no gotea pero está caliente
    
    G1 X2.0 Y10 Z5 F3000    # Ir a posición de espera para purga
    M117 Calentando hotend...
    M109 S{EXTRUDER_TEMP}   # Ahora sí, temperatura final
    G28
    M190 S{BED_TEMP}
    M109 S{EXTRUDER_TEMP}    # ← esperar extrusor
   # BED_MESH_CALIBRATE        # ← usar BLTouch
    BED_MESH_PROFILE LOAD=default # ← coge la por defecto
    G1 Z5 F3000
    G1 X2.0 Y10 F3000
    G1 Z0.3 F300
    G92 E0
    G1 X2.0 Y150 E15 F500    # línea de purgue
    G92 E0
    M117 Imprimiendo...